*{
    font-family: 'Courier New', Courier, monospace;
}

.questions,
.scores {

    max-width:100%;
}

.Container {
    border: 5px solid blue; 
    position: absolute; 
    top: 35%; 
    left: 50%; 
    height: 580px; 
    width: 50%; 
    transform: translate(-50%, -50%); 
    padding: 10px; 
}


h1 {
    font-size: xx-large;
    text-align: center;
}

p { 
    margin: 15px;
    font-size:x-large;
    text-align:center;
}

.home {
    text-align: center;
}

.ScoreButton {
    position: relative;
    top:15px;
    left:15px;
    background-color: pink;


}

.timer {
    position: absolute;
    top:35px;
    right:15px;

}

/*Buttons*/

button {
    text-align:center;
    display:inline-block;
    margin:15px;
    color: white;
    background-color: orange;
    border:0;
    padding:15px;
}

button:hover {
background-color: red;
}

.options button{
    display: block;
}

.hide {
    display: none;
}

/*List*/

ol {
    padding-left: 20px;
    max-height:400px;
    overflow:auto;
}

li {
    padding: 5px;
    list-style:none;

}

li:nth-child(even) {
    background-color: green;
    color: White;
}


/*Media Queries*/
@media screen and (max-width: 600px) { 
    .container{
        width:80%;
    }
    .quiz,
    .scores {
        max-width:80%;
    }
}



